.file {
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 44rem;
    height: 9.2rem;
    gap: 2rem;
    
    &-icon {
        width: 4rem;
        height: 4rem;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: var(--main-font);
        width: 38rem;
        height: 9.2rem;
        gap: 1.6rem;
        flex: none;
        order: 1;
        flex-grow: 1;
        .file-a {
            text-decoration: none;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 2rem;
            color: var(--ultramarine-default-color);
            &:hover {
                text-decoration: underline;
            }
        }
        .file-size {
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: var(--text-secondary-promo-color);
        }
    }

}
