extends layout.pug

block content
  - var button = ['button-main', 'button-main__secondary', 'button-main__contrast']
  button.button-main(class=classes class=['button-main']) Button
  button.button-main__secondary(class=classes class=['button-main__secondary']) Button
  button.button-main__contrast(class=classes class=['button-main__contrast']) Button
