extends layout.pug 

block content 
  .button-menu-item
    p.button-menu-text Menu-item 
    button.button-menu-arrow-down
      svg.button-menu-icon
        use(href="assets/svg/symbol/sprite.svg#chevron-down")