extends layout.pug


block content 
  - var button = ['button-icon-app', 'button-icon-app__card', 'button-icon-app__contrast']
  button.button-icon-app(class=classes class=['button-icon-app'])
    img.button-icon-app-vector(src="assets/svg/icon_svg/button-icon.svg", alt="")
  button.button-icon-app__card(class=classes class=['button-icon-app__card'])
    img.button-icon-app-vector(src="assets/svg/icon_svg/button-icon.svg", alt="")
  button.button-icon-app__contrast(class=classes class=['button-icon-app__contrast'])
    img.button-icon-app-vector(src="assets/svg/icon_svg/button-icon-contrast.svg", alt="")