extends layout.pug

block content
  - var button = ['button-main', 'button-main__secondary']
  button.main(class=classes class=['button-main']) Button
  button.secondary(class=classes class=['button-main__secondary']) Button

