extends layout.pug


block content 
  - var button = ['button-icon-app', 'button-icon-app__card', 'button-icon-app__contrast']
  button.button-icon-app(class=classes class=['button-icon-app'])
    svg.button-chevron-right
      use(href="assets/svg/symbol/sprite.svg#button-icon")
  button.button-icon-app__card(class=classes class=['button-icon-app__card'])
    svg.button-chevron-right
      use(href="assets/svg/symbol/sprite.svg#button-icon")
  button.button-icon-app__contrast(class=classes class=['button-icon-app__contrast'])
    svg.button-chevron-right
      use(href="assets/svg/symbol/sprite.svg#button-icon")