extends layout.pug 

block content 
  button.button-footer-card
    img.button-footer-vector(src="assets/svg/footer_svg/button-footer.svg", alt="")
    p.button-footer-card-text Button
    img.button-footer-vector(src="assets/svg/footer_svg/button-footer.svg", alt="")
    