doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="style/components/buttons.scss")
    body 
    div.bluebtn
    button.btn Button
    button.btn2 Button
    div.whitebtn
    button.btn3 Button
    button.btn4 Button
    div.headline
      h1.text-h1 Headline
      button.headline-text
         div.left-arrow


      
      