extends layout.pug 

block content
  .file 
    img.file-img(src="assets/svg/file_svg/file.svg", alt="")
    .file-content
      a.file-a(href="#") Программа мероприятия VII Открытый отборочный чемпионат ФГАОУ ВО ГУАП по стандартам Агентства развития профессий и навыков
      p.file-size PDF, 99.9 КВ