extends layout.pug 

block content
  .file 
    svg.file-icon
      use(href="assets/svg/symbol/sprite.svg#file")
    .file-content
      a.file-a(href="#") Программа мероприятия VII Открытый отборочный чемпионат ФГАОУ ВО ГУАП по стандартам Агентства развития профессий и навыков
      p.file-size PDF, 99.9 КВ