doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Мой сайт
    link(rel="stylesheet", href="styles/main.css")
  body
    header
      h1 Добро пожаловать на мой сайт!

    footer
      p &copy; 2025 Мой сайт. Все права защищены.

    script(src="scripts/app.js")