extends layout.pug

block content
  - var linkVariants = ['link-text-s', 'link-text-s__l']
  
  a.link-text-s(href="#", class=classes class=['link-text-s']) Link
  a.link-text-s__l(href="#", class=classes class=['link-text-s__l']) Link