extends layout.pug 

block content
  ul.pagination
    li.pagination-list
      a(href="#").pagination-number 
        img.pagination-back(src="assets/svg/pagination/pagination-left.svg", alt="")
    li.pagination-list
      a(href="#").pagination-number 1
    li.pagination-list 
      a(href="#").pagination-number 2
    li.pagination-list 
      a(href="#").pagination-number 3
    li.pagination-list 
      a(href="#").pagination-number 4  
    li.pagination-list
      a(href="#").pagination-number 
        img.pagination-next(src="assets/svg/pagination/pagination-right.svg", alt="")
    
