html {
    --card-color: #ffffff;
    --app-bg: #EEEFF2;
    --gray-color-1: #F7F8FC;
    --gray-color-2: #F0F2F8;
    --gray-color-3: #ECEDF2;
    --gray-color-4: #E3E5EC; 
    --gray-color-5: #DBDBE4;
    --gray-color-6: #DBDBE4;
    --text-color: #1F2733;
    --text-secondary-promo-color: #95A0B2;
    --text-contrast-color: #FFFFFF;
    --text-contrast-secondary-color: #FFFFFF60;
    --text-blind-color: #CEDSEO; 
    --text-contrast-blind-color: #FFFFFF30; 
    --divide-color: #EEEFF2;
    --border-color: #D3D6E0;
    --sual-red-default-color: #FF004E;
    --sual-red-light-1-color: #FF4780;
    --sual-red-light-2-color: #FFEBF1;
    --sual-red-light-3-color: #E85EB8;
    --purple-default-color: #6E27BE;
    --purple-light-color: #F7EFFF;
    --ultramarine-default-color: #5747FF;
    --ultramarine-dark-color: #4132DC;
    --ultramarine-light-color-1: #6E61FF;
    --ultramarine-light-color-2: #EDECFF;
    --suai-blue-default-color: #0087FF;
    --suai-blue-light-color: #EDF7FF;
    --cyan-default-color: #0EBEF1;
    --cyan-light-color-1: #E8FAFF;
    --cyan-light-color-2: #E8FAFF;
    --electric-green-default-color: #6DA800;
    --electric-green-light-color-1: #E6F3CB;
    --electric-green-light-color-2: #E6F3CB;
}