.button-main {
    width: 13.8rem;
    height: 5.6rem;
    border-radius: 1.6rem;
    padding: 1.6rem 2.4rem;
    gap: 1.2rem;
    border: 2px solid var(--ultramarine-default-color);
    background-color: var(--ultramarine-default-color);
    color: var(--text-contrast-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    font-family: var(--main-font);
    cursor: pointer;
    &:hover {
        border-radius: 3.2rem;
    }
    &:active {
        background-color: var(--ultramarine-dark-color);
    }
    &:disabled {
        background-color: var(--gray-color-3);
        border: 1px solid var(--border-color);
        color: var(--text-blind-color);
        border-radius: 1.6rem;
    }
    
    &__secondary{
        @extend .button-main;
        background-color: white;
        border: 2px solid var(--ultramarine-default-color);
        color: var(--ultramarine-default-color);

        &:active {
            background-color: white;
        }
      } 
}