@use 'global/colors';
@use 'global/base';

@mixin mobile {
    @media (max-width: 767px) { @content; }
  }

@mixin text-h1 {
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 6.2rem;
    @include mobile {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4rem;
    }
}

body {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

.whitebtn {
    margin-top: 2rem;
}

.btn {
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1.2rem;
    background-color: var(--ultramarine-light-color-1);
    color: var(--text-contrast-color);
    border: none;
    outline: none; 
    box-shadow: none; 
    &:hover {
        border-radius: 2rem;
    }
    &:active {
        background-color: var(--ultramarine-dark-color);
    }


    @include mobile {
        font-size: 1rem;
    }
}

.btn2 {
    margin-left: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1.2rem;
    border: 0.13rem solid var(--gray-color-3); 
    background-color: var(--text-contrast-color); 
    color: #66666653;
    cursor: not-allowed;

    @include mobile {
        font-size: 1rem;
        border: none;
        outline: none; 
        box-shadow: none;
    }
}

.btn3 {
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1.2rem;
    background-color: var(--card-color);
    border: 0.13rem solid var(--ultramarine-light-color-1); 
    color: var(--ultramarine-light-color-1);
    &:hover {
        border-radius: 2rem;
    }

    @include mobile {
        font-size: 1rem;
    }
}

.btn4 {
    margin-left: 2rem;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 1.2rem;
    border: 0.13rem solid var(--gray-color-3); 
    background-color: var(--text-contrast-color); 
    color: #66666653;
    cursor: not-allowed;

    @include mobile {
        font-size: 1rem;
    }
}


.headline {
    display: flex;
    align-items: center;

    .text-h1 {
        margin: 0;
    }

    .headline-text {
        background-color: var(--card-color);
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;

        &:hover {
            background-color: var(--ultramarine-light-color-1);

        }

        .left-arrow {
            display: inline-flex;
            position: relative;
            width: 1rem; 
            height: 1rem; 
            cursor: pointer;
            transform: rotate(140deg);

            &::before,
            &::after {
                content: '';
                position: absolute;
            }

            &::before {
                top: 0.4rem;
                left: 0;
                width: 1rem; 
                height: 0.15rem; 
                background-color: var(--ultramarine-light-color-1);
            }

            &::after {
                top: 0.16rem; 
                left: 0;
                width: 0.5rem; 
                height: 0.5rem; 
                border-top: 0.15rem solid var(--ultramarine-light-color-1); 
                border-left: 0.15rem solid var(--ultramarine-light-color-1); 
                transform: rotate(-45deg);
            }
        }
    }
}
